* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font: 16px/1.5 Helvetica, Arial, sans-serif;
  background-color: #fff;
  width: 90%;
  max-width: 1140px;
  margin: 0 auto;
}

.header {
  width: 100%;
}

.header .search {
  width: 360px;
}

h1 {
  padding: 20px 0 0;
  text-align: center;
}

h2 {
  color: #777;
  padding-bottom: 20px;
  text-align: center;
}

.map {
  position: relative;
}

.map-info {
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0,0,0,.5);
  color: #fff;
}

.map-info p {
  padding: 10px;
  font-size: 1.5em;
  margin: 0;
}

.map-info small {
  font-size: .85em;
}

#map-container {
  position: relative;
  height: 60%;
  width: 100%;
  overflow:hidden;
  background: #F0F8FF;
}

.map-nav {
  overflow: hidden;
  text-align: center;
}

.map-nav img {
  width: 30px;
  margin-right: 10px;
}

.map-nav a, .map-nav a:visited {
  float: left;
  width: 25%;
  padding: 20px;
  text-decoration: none;
  color: #000;
  color: #fff;
  border-right: 1px solid rgba(0,0,0,.1);
}

.map-nav a:last-child {
  border-right-width: 0;
}

.map-nav a.active {
  position: relative;
  /*background-color: #aaa;*/
  opacity: 1;
}
.map-nav a.active:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 10px;
  background-color: rgba(0,0,0,.2);
}
.map-nav a.active.multiple {
  background-color: #15c7eb;
}

[data-type='Nutrition'] {background-color: #5BA68A; }
[data-type='Poverty'] {background-color: #D9C45B; }
[data-type='Productivity'] {background-color: #D95829; }
[data-type='Resilience'] {background-color: #D90404; }